{% load static %}
{% load index %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>DCCW</title>
	<meta name="description" content="" />
	<meta name="keywords"
		content="palette sorting, color palette, color scheme, siggraph, siggraph 2021, color palettes, palette comparison, color comparison, palette comparison" />
	<meta name="author" content="Suzi Kim and Sunghee Choi" />
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q8NMJV5HXP"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-Q8NMJV5HXP');
	</script>
    <script type="module" src="{% static 'js/load_graph.js' %}"></script>
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
<script>
	function nth(n) { return ["st", "nd", "rd"][((n + 90) % 100 - 10) % 10 - 1] || "th" }
</script>

<div class="sticky top-0 w-screen bg-white border-gray-300 border-b overflow-x-auto">
	<div class="w-screen text-lg">
		<p><a href="/" class="font-bold text-blue-800 hover:text-pink-600 ml-3">DCCW</a>: Experiment 6. Similarity Measurement ({{ lhsp_type }})</p>
	</div>
	<div class="flex flex-col justify-center items-baseline">
		<div class="flex flex-row flex-nowrap mx-auto my-3 justify-center items-center">
			<p class="w-32 text-right mr-5">Query Palette</p>
			<div class="flex flex-row">
				{% for c in source_data %}
				<div class="w-8 h-8" style="background-color:{{ c }}"></div>
				{% endfor %}
			</div>
		</div>

		{% for palette in hex_data_list %}
		<div class="flex flex-row flex-nowrap mx-auto my-3 justify-center items-center">
			<p class="w-36 text-right mr-5">Target Palette {{ forloop.counter }}
			{% if forloop.counter0 in correct_palette_indices %}
			<span class="text-blue-700"><br>(correct palette)</span>
			{% endif %}
			</p>
			<div class="flex flex-row">
				{% for c in palette %}
				<div class="w-8 h-8" style="background-color:{{ c }}"></div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class="flex flex-col w-full overflow-x-auto">
	{% for measurement_type, measurement_data in sorted_data_list.items %}
	<div class="flex flex-row p-10 border-b border-dashed m-auto">
		{% if forloop.counter0 == 0 %}
		<p class="w-80 flex-shrink-0 pt-8 text-right font-bold">{{ measurement_type }}</p>
		{% else %}
		<p class="w-80 flex-shrink-0 text-right font-bold">{{ measurement_type }}</p>
		{% endif %}
		<div class="flex-shrink-0 grid grid-cols-{{ hex_data_list|length }}">
			{% for cur_measurement_data in measurement_data %}
			<div class="flex flex-col gap-3 px-5 items-center text-center">
				{% if forloop.parentloop.counter0 == 0 %}
				<p class="font-bold">
					{{ forloop.counter }}<script>document.write(nth({{ forloop.counter }}))</script> Matched
				</p>
				{% endif %}
				<div class="flex flex-row items-center">
					<div class="w-8">Q</div>
					{% for c in source_data %}
					<div class="w-8 h-8" style="background-color:{{ c }}"></div>
					{% endfor %}
				</div>

				<div class="flex flex-row items-center">
					<div class="w-8">T{{ cur_measurement_data.hex_index|add:1 }}</div>
					{% for c in hex_data_list|index:cur_measurement_data.hex_index %}
					<div class="w-8 h-8" style="background-color:{{ c }}"></div>
					{% endfor %}
				</div>

				{% if cur_measurement_data.sorted_indices %}
				<p class="italic">⬇️ Sorted</p>
				<div class="flex flex-row items-center">
					<div class="w-8">Q</div>
					{% for i in cur_measurement_data.sorted_indices.0 %}
					<div class="w-8 h-8" style="background-color:{{ source_data|index:i }}"></div>
					{% endfor %}
				</div>
				<div class="flex flex-row items-center">
					<div class="w-8">T{{ cur_measurement_data.hex_index|add:1 }}</div>
					{% for i in cur_measurement_data.sorted_indices.1 %}
					<div class="w-8 h-8"
						style="background-color:{{ hex_data_list|index:cur_measurement_data.hex_index|index:i }}"></div>
					{% endfor %}
				</div>
				{% endif %}


				<p class="w-52">Similarity: {{ cur_measurement_data.similarity|floatformat:2 }}</p>
				<p class="w-52">Elapsed Time: {{ cur_measurement_data.elapsed_time|floatformat:-4 }}</p>
				{% if cur_measurement_data.hex_index in correct_palette_indices %}
				<p class="w-52 text-blue-700">Correct Palette</p>
				{% endif %}

			</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>

</body>
</html>