<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>DCCW</title>	
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
<div class="flex flex-wrap max-w-5xl items-center w-5xl m-10 gap-10 lg:m-auto h-auto lg:h-screen">
	<div class="m-auto">
		<p class="font-sans text-2xl font-bold">
			Dynamic Closest Color Warping
		</p>
		<p class="font-sans text-base">
			<a class="text-blue-800 hover:text-pink-600" href="https://doi.org/10.1145/3450626.3459776">Dynamic Closest Color Warping to Sort and Compare Palettes</a><br>
			<a class="text-blue-800 hover:text-pink-600" href="https://kimsuzi.com/cv">Suzi Kim</a> and Sunghee Choi<br>
			<a class="text-blue-800 hover:text-pink-600" href="https://gclab.kaist.ac.kr">Geometric Computing Lab.</a>, <a class="text-blue-800" href="https://cs.kaist.ac.kr">School of Computing</a>, <a class="text-blue-800 hover:text-pink-600" href="https://kaist.ac.kr">KAIST</a><br>
			Presented at <a class="text-blue-800 hover:text-pink-600" href="https://s2021.siggraph.org/">ACM SIGGRAPH 2021</a>
		</p>
	</div>

	<div class="m-auto">
		<div class="font-bold">
			Color Sorter
		</div>
		<div class="pl-5 mb-5">
			<a href="sortSinglePalette" class="text-gray-700 hover:text-pink-600">Single Palette</a><br>
			<a href="sortMultiplePalettes" class="text-gray-700 hover:text-pink-600">Multiple Palettes</a>
		</div>
		
		<div class="font-bold">
			Palette Similarity
		</div>
		<div class="pl-5 mb-5">
			<a href="measureSimilarity" class="text-gray-700 hover:text-pink-600">Similarity Measurement</a>
		</div>

		<div class="font-bold">
			Experiments
		</div>
		<div class="pl-5 mb-5">
			<p class="font-bold">Exp #1. SPS Accuracy (FM100P)</p>
			<a href="exp1/10" class="text-gray-700 hover:text-pink-600 pr-2">k=10</a>
			<a href="exp1/15" class="text-gray-700 hover:text-pink-600 pr-2">k=15</a>
			<a href="exp1/20" class="text-gray-700 hover:text-pink-600 pr-2">k=20</a>
			<a href="exp1/25" class="text-gray-700 hover:text-pink-600 pr-2">k=25</a>
			<a href="exp1/30" class="text-gray-700 hover:text-pink-600 pr-2">k=30</a>
			<a href="exp1/35" class="text-gray-700 hover:text-pink-600 pr-2">k=35</a>
			<a href="exp1/40" class="text-gray-700 hover:text-pink-600 pr-2">k=40</a>
		</div>

		<div class="pl-5 mb-5">
			<p class="font-bold">Exp #2. PPS Accuracy (KHTP)</p>
			<a href="exp2/KHTP_O" class="text-gray-700 hover:text-pink-600 pr-2">KHTP-O</a>
			<a href="exp2/KHTP_I" class="text-gray-700 hover:text-pink-600 pr-2">KHTP-I</a>
			<a href="exp2/KHTP_J" class="text-gray-700 hover:text-pink-600 pr-2">KHTP-J</a>
			<a href="exp2/KHTP_J_I" class="text-gray-700 hover:text-pink-600 pr-2">KHTP-J-I</a>
		</div>
		
		<div class="pl-5 mb-5">
		<p class="font-bold">Exp #3. PPS Effect (KHTP)</p>
		<a href="exp3/KHTP_O" class="text-gray-700 hover:text-pink-600 pr-2">KHTP-O</a>
		<a href="exp3/KHTP_I" class="text-gray-700 hover:text-pink-600 pr-2">KHTP-I</a>
		<a href="exp3/KHTP_J" class="text-gray-700 hover:text-pink-600 pr-2">KHTP-J</a>
		<a href="exp3/KHTP_J_I" class="text-gray-700 hover:text-pink-600 pr-2">KHTP-J-I</a>
		</div>

		<div class="pl-5 mb-5">
			<p class="font-bold">Exp #4. <a href="exp4" class="text-gray-700 hover:text-pink-600">PPS w/ Different Palette Sizes</a></p>
		</div>
		
		<div class="pl-5 mb-5">
			<p class="font-bold">Exp #5. <a href="exp5" class="text-gray-700 hover:text-pink-600">Multiple Palettes Sorting</a></p>
		</div>

		<div class="pl-5 mb-5">
			<p class="font-bold">Exp #6. Similarity Measurement (LHSP)</p>
			<p>
				<a href="exp6/LHSP_O" class="text-gray-700 hover:text-pink-600 pr-2">LHSP-O</a>
				<a href="exp6/LHSP_J" class="text-gray-700 hover:text-pink-600 pr-2">LHSP-J</a>
				<a href="exp6/LHSP_R" class="text-gray-700 hover:text-pink-600 pr-2">LHSP-R</a>
				<a href="exp6/LHSP_J_R" class="text-gray-700 hover:text-pink-600 pr-2">LHSP-J-R</a><br>

				<a href="exp6/LHSP_5" class="text-gray-700 hover:text-pink-600 pr-2">k=5</a>
				<a href="exp6/LHSP_10" class="text-gray-700 hover:text-pink-600 pr-2">k=10</a>
				<a href="exp6/LHSP_15" class="text-gray-700 hover:text-pink-600 pr-2">k=15</a>
				<a href="exp6/LHSP_20" class="text-gray-700 hover:text-pink-600 pr-2">k=20</a>
				<a href="exp6/LHSP_25" class="text-gray-700 hover:text-pink-600 pr-2">k=25</a>
				<a href="exp6/LHSP_30" class="text-gray-700 hover:text-pink-600 pr-2">k=30</a>
			</p>
		</div>
		
		<div class="font-bold">
			Applications
		</div>
		<div class="pl-5 mb-5">
			<a href="paletteInterpolation" class="text-gray-700 hover:text-pink-600">Palette Interpolation</a><br>
			<a href="imageRecoloring" class="text-gray-700 hover:text-pink-600">Image Recoloring</a>
			<!-- <a href="paletteNavigation" class="text-gray-700 hover:text-pink-600">Palette Navigation</a> -->
		</div>
	</div>
</div>
</body>
</html>
